body{
margin: 0;
background-color: #15314b;
}
.input-container{
    height: 15vh;
}
.task-container{
    height: 85vh;
}
.input-box{
   margin-left: 25vw;
    height:80%;
    font-family: 'Dancing Script', cursive;
    width:50%;
    font-size : 2rem;
    text-align: center;
    color:red;
}
.instruction{
    text-align: center;
    color: skyblue;
    font-size:1.5rem;
}
ul{
    box-sizing: border-box;
    margin-left: 25vw;
    margin-top:10%;
    width:50%;
}
li{
    box-sizing: border-box;
    margin: 2px;
    background-color: #071a2c;
    font-size:1.8rem;
    font-family: 'Dancing Script', cursive;
    list-style: none;
    color:rgb(20, 173, 220);
    text-align: center;
}