*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.outer1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color:rgb(19, 18, 18);
}
.outer2{
    height:90vh;
    background-color: white;
    display: flex;
    align-content: center;

}
.colorSelector{
    border-radius: .25rem;
    height: 80%;
    width:25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 46, 46);
}
.color1{
    margin-left: 2.5%;
    margin-top:2.5%;
    border-radius: .25rem;
    width:20%;
    height: 50%;
    background-color: red;
}
.color2{
    margin-left: 2.5%;
    margin-top:2.5%;
    width:20%;
    height: 50%;
    background-color: blue;
    border-radius: .25rem;
}
.color3{
    margin-left: 2.5%;
    margin-top:2.5%;
    width:20%;
    height: 50%;
    background-color: green;
    border-radius: .25rem;
}
.color4{
    margin-left: 2.5%;
    margin-top:2.5%;
    width:20%;
    height: 50%;
    background-color: yellow;
    border-radius: .25rem;
}
.rnw{
    border-radius: .25rem;
    display: flex;
    margin-left: 10%;
    display: flex;
    width:15%;
    height: 80%;
    background-color: rgb(46, 46, 46);
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    
}