*{
    box-sizing: border-box;
    
}
body{
    margin: 0px;
   overflow: hidden;
}
.video-container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    
}
.video{
    width: 100%;
    height:  100%;
    z-index: 5;
    
}
.record-btn,.capture{
    display: flex;
    justify-content: center;
    align-items:center;
    border: 6px solid white;
    position: fixed;
    width: 5rem;
    height: 5rem;
    top: 40vh;
    z-index: 5;
    right: 7vw;
    border-radius: 50%;
    background-color: black;
}
.capture{
    top:55vh;
    
}
.red{
    background-color: red;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.white{
    background-color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

}
.record-animation{
    animation: recording 2s ease-in infinite;
}


@keyframes recording{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(.9);
    }
    100%{
        transform: scale(1);
    }
    
}
.cpature-animation{
    animation: capturing .2s;
}
@keyframes capturing{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.3);
    }
    100%{
        transform:scale(1)
    }
}

.filter-container{
    z-index: 5;
    position: fixed;
    top:15vh;
    left:7vw;
    width:70px;
    height: 60vh;
}
.filter{
    width: 100%;
    height: 10vh;
    background-image: url("https://picsum.photos/id/237/200/300");
    background-size: cover;
    background-blend-mode: color-burn;
    z-index: 5;
}
.timing-container{
    position: fixed;
    bottom: 10vh;
    left: 6vw;
    z-index: 5;
    font-size: 1.5rem;
    font-weight: 900;
    color: blanchedalmond;
    display: none;
    
}
.t-active{
    display: block;
}
.ui-filter{
    height:100vh;
    width:100vw;
    position: fixed;
    z-index:4;
    display: none;
   
}
.ui-active{
    display: block;
}

.zoom-container{
    width: 40px;
    height: 70px;
    position: fixed;
    top: 20vh;
    right: 8.7vw;
    z-index: 5;
    background-color: rgba(155, 148, 148, 0.905);
}
.plus{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}
.minus{
    
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.z0{
    transform: scale(1);
}
.z1{
    transform: scale(1.2);
}
.z2{
    transform: scale(1.4);
}
.z3{
    transform: scale(1.6);
}
.z4{
    transform: scale(1.8);
}
.gallery-btn{
    position: fixed;
    color:red;
    bottom: 10vh;
    right: 8vw;
    font-size: 2rem;
}