*{
    box-sizing: border-box;
    
}
body{
    margin: 0px;
   
}
.video-container{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.video{
    width: 100%;
    height:  100%;
}
.record-btn,.capture{
    position: fixed;
    width: 4rem;
    height: 4rem;
    top: 40vh;
    z-index: 100;
    right: 7vw;
    border-radius: 50%;

}
.capture{
    top:55vh;
    
}
