body{
    margin:0;
}
*{
    box-sizing: border-box;
    
}
.menu-container{
    height: 80px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    
}
.menu-container>*{
    height: 80%;
    width: 20%;
    border-right: 3px solid black;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}
.formatting-container{
    
    display: flex;
    justify-content: space-around;
}
.subgroup{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.subgroup>*{
    width: 100%;
}
/* .font-family{
    width:100%;
    height: 45%;
} */
.BUI_container{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}
.BUI_container>*{
    width:30%;
}


.color-container{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}
/* .font-size{
    width:100%;
    height: 45%;
} */
.color-container>*{
    width:45%;
}
.alignment-container{
    /* height: 80%;
    width: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.alignment-container>*{
    width:20%;
}
.active-btn{
    background-color: rgb(160, 158, 156);
}

























.grid_container{
    width: 100vw;
    height: calc(100vh - (80px + 30px + 40px ) );
    overflow: auto;
    background-color: white;
    position: relative;
}
.sheets{
    height: 30px;
    background-color: lightgrey;
    display: flex;
    
}
.add-sheet_container{
    min-width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
}
.fa-plus{
    font-size: 1.25rem;
    color: green;
}
.sheets-list{
    overflow-x: auto;
    display: flex;
    height: 100%;
    width: calc(100vw - 30px );
}
.sheets-list::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .sheets-list{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.sheet{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    height: 100%;
}
.active-sheet{
    background-color: white;
}
.top-left-block{
    width: 25px;
    height: 30px;
    background-color: gray;
}
.top-row{
    height: 30px;
    background-color: lightgreen;
    display: flex;
    position: absolute;
    left: 25px;
    top: 0px;
}
.row{
    display: flex;

}
.col{
    text-align: left;
    min-width: 60px;
    max-width: 60px;
    min-height: 30px;
    border: 1px solid;
}
.left-col{
    
    width: 25px;
    background-color: lightgreen;
    
}
.left-col-box{
    height: 30px;
    
    text-align: center;
    border: 1px solid;
}

.grid{
    position: absolute;
    top: 30px;
    left:25px;
}


















.formula-container{
    height: 30px;
    background-color:rgb(97, 156, 167);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.address-box{
    height: 80%;
    width: 10%;
}
.formula-box{
    width: 80%;
    height: 80%;
}












.ond-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ond-container>*{
    font-size: 2rem;
    color: rgb(0, 132, 255);
}